.header {
  @include lg-block {
    .container {
      max-width: 100%;
    }
  }
  &__row {
    .col {
      @include size(4);
      @include md-block {
        width: auto;
      }
    }
  }
  &__main {
    padding: 22px 0;
    @include xs-block {
      padding: 12px 0;
    }
    &-about {
      // Todo
      @include md-block {
        display: none;
      }
    }
    &-link {
      font-size: 18px;
      color: #9a9a9a;
      white-space: nowrap;
      @include xs-block {
        font-size: 15px;
      }
      &:hover {
        color: $red;
      }
      &.active {
        color: #fff;
        pointer-events: none;
      }
    }
  }
  &__toggler {
    margin-right: 55px;
    @include md-block {
      margin-right: 0;
    }
    &-btn {
      position: relative;
      width: 42px;
      height: 24px;
      border-radius: 12px;
      background-color: #454545;
      margin: 0 11px;
      outline: none;
      border: 0;
      transition: .35s;
      cursor: pointer;
      &:hover {
        background-color: lighten(#454545, 10);
      }
      &:before {
        content: '';
        position: absolute;
        width: 22px;
        height: 22px;
        transition: .35s;
        background-color: #ffffff;
        border-radius: 50%;
        left: 0;
        top: 1px;
      }
      &.active {
        &:before {
          left: 20px;
        }
      }
    }
  }
  &__contacts {
    // TODO
    @include md-block {
      display: none;
    }
    &-phones {
      .icon {
        cursor: pointer;
        &:hover {
          fill: $red;
        }
      }
    }
    &-item {
    position: relative;
      & + & {
        margin-top: 8px;
      }
      svg {
        width: 19px;
        height: 19px;
        margin-left: 12px;
      }
    }
  }
  &__phone {
    font-size: 23px;
    &:hover {
      color: $red;
    }
    & + .icon {
      fill: #818181;
      transform: rotate(-90deg)
    }
  }
  &__phones {
    // display: none;
    border-radius: 5px;
    background: #fff;
    color: #000;
    font-size: 14px;
    top: 110%;
    right: 0;
    position: absolute;
    z-index: 10;
    box-shadow: 0 0 20px rgba(black, .4);
    a {
      padding: 10px 15px;
      font-size: 18px;
      display: block;
      & + a {
        border-top: 1px solid black;
      }
    }
  }
  &__address {
    font-size: 18px;
  }
  &__logo {
    line-height: 0;
    img {
      height: 60px;
      @include md-block {
        height: 40px;
      }
      @include xs-block {
        height: 30px
      }
    }
  }
  &__sub {
    background-color: #0b0b0b;
    padding: 10px 0;
    &-service {
      width: 180px;
      color: #9a9a9a;
      @include md-block {
        width: auto;
      }
      @include xs-block {
        font-size: 14px;
      }
      &:hover {
        color: #fff;
        svg {
          fill: #fff;
        }
      }
      svg {
        width: 16px;
        height: 16px;
        margin-right: 10px;
        fill: #9a9a9a;
        transition: .35s;
        @include xs-block {
          margin-right: 5px;
          width: 13px;
          height: 13px;
        }
      }

    }
    &-control {
      width: 180px;
      @include md-block {
        width: auto;
      }
    }
    &-nav {
      // TODO
      @include md-block {
        display: none;
      }
      flex-grow: 1;
    }
  }
  &__search {
    position: relative;
    padding: 4px 10px;
    transition: none;
    svg {
      fill: #9a9a9a;
      transition: .35s;
      width: 19px;
      height: 19px;
    }
    &.active {
      transition: .35s;
      background-color: #dedede;
      border-radius: 19px;
      font-size: 14px;
      color: #080808;
      svg {
        fill: #000;
      }
    }
    &-btn {
      position: relative;
      line-height: 0;
      padding: 0;
      &:hover {
        svg {
          fill: #fff;
          .active & {
            fill: $red;
          }
        }
      }
    }
    &-input {
      opacity: 0;
      pointer-events: none;
      background: transparent;
      padding: 4px 10px;
      border-radius: 19px;
      border: none;
      .active & {
        pointer-events: auto;
        opacity: 1;
      }
      &:focus {
        border: none;
      }
      // todo
      @include sm-block {
        position: absolute;
        background-color: #dedede;
        padding: 6px 40px 6px 12px;
        width: 200px;
        right: 0;
      }
    }
  }
  &__basket{
    position: relative;
    display: inline-block;
    margin-left: 15px;
    line-height: 0;
    @include xs-block {
      margin-left: 12px;
    }
    &-preview {
      cursor: pointer;
      svg {
        width: 22px;
        height: 22px;
        fill: #9a9a9a;
        transition: .35s;
      }
      &:hover {
        svg {
          fill: #fff;
        }
      }
      &.active {
        svg {
          fill: #fff;
        }
        &:hover svg {
          fill: $red;
        }
      }
    }
    &-count {
      position: absolute;
      left: -4px;
      top: -2px;
      background: $red;
      border-radius: 50px;
      font-size: 10px;
      color: #f8f8f8;
      line-height: 1;
      padding: 3px 5px;
    }
    &-body {
      position: absolute;
      z-index: 10;
      display: none;
      line-height: normal;
      right: 0;
      top: 37px;
      width: 320px;
      padding: 15px 25px 17px;
      border-radius: 0 0 25px 25px;
      border: 1px solid #efefef;
      background-color: #ffffff;
      box-shadow: 0 0 25px rgba(black, .4);
      @include sm-block {
        top: 35px;
        right: -45px;
        width: 300px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    &-btn {
      border-radius: 50px;
      padding: 12px;
    }
    &-total {
      padding: 14px 0;
      color: #000;
      font-size: 14px;
      span {
        white-space: nowrap;
        font-weight: bold;
        font-size: 18px;
        padding-left: 5px;
      }
    }
  }
}

.nav {
  &__link {
    color: #9a9a9a;
    padding: 5px 10px;
    &:hover {
      color: #fff;
    }
    & + & {
      margin-left: 55px;
      @include lg-block {
        margin-left: 20px;
      }
    }
  }
}

.burger {
  position: relative;
  display: none;
  width: 25px;
  height: 20px;
  padding: 0;
  margin-left: 17px;
  @include md-block {
    display: block;
  }
  &:before, &:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    background-color: #fff;
    width: 25px;
    height: 2px;
    border-radius: 1px;
    transition: .35s;
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }
  &.active {
    &:before, &:after {
      top: 50%;
      margin-top: -1px;
    }
    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
    span {
      opacity: 0;
    }
  }
  span {
    position: absolute;
    border-radius: 1px;
    top: 50%;
    left: 0;
    margin-top: -1px;
    display: inline-block;
    background-color: #fff;
    width: 25px;
    height: 2px;
    transition: .35s;
  }
}