.footer {
  &__row {
    padding-top: 25px;
    @include sm-block {
      display: block;
      text-align: center;
      padding-top: 35px;
    }
  }
  a {
    &:hover {
      color: $red;
      svg {
        fill: $red;
      }
    }
  }
  &-contact {
    font-size: 14px;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    @include sm-block {
      justify-content: center;
    }
    svg {
      fill: #fff;
      width: 12px;
      height: 12px;
      margin-right: 8px;
    }
  }
  &__title {
    font-size: 18px;
    margin-bottom: 12px;
  }
  &__block {
    width: 220px;
    @include sm-block {
      width: 100%;
      & + & {
        margin-top: 30px;
      }
    }
  }
  &__about {
    font-size: 14px;
    line-height: 1.45;
  }
  &__socials {
    &-link {
      line-height: 0;
      & + & {
        margin-left: 10px;
      }
    }
    svg {
      transition: .35s;
      fill: #fff;
      width: 19px;
      height: 19px;
    }
  }
  &__phones {
    &-item {

    }
  }
  &__address {
    margin-bottom: 3px;
    &-map {
      color: $red;
      border-bottom: 1px solid transparent;
      font-size: 14px;
      &:hover {
        border-bottom-color: $red;
      }
    }
    &-wrap {
      margin: 12px 0;
    }
  }
}

.copyright {
  margin-top: 30px;
  padding: 10px 15px;
  background-color: #0b0b0b;
  font-size: 14px;
  color: #7f7f7f;
}