* {
  box-sizing: border-box;
}

.container {
  @include container();
  @include md(max-width, rem(690));
  @include lg(max-width, rem(930));
}

body {
  position: relative;
  font-family: $main-font;
  color: $dark;
  background-color: #f8f8f8;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 0.35s;
  outline: none;
  color: inherit;
  &:hover {
  }
  &.btn {
    display: inline-block;
  }
}

img {
  max-width: 100%;
}

textarea {
  resize: none;
}

.nowrap {
  white-space: nowrap;
}

.text {
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
  &-left {
    text-align: left;
  }
}

.upper {
  text-transform: uppercase;
}

.trans {
  transition: 0.35s;
}

.row-flex {
  @include row-flex();
}

.col {
  @include col();
}

.flex {
  display: flex;
  &-wrap {
    flex-wrap: wrap;
  }
  &-nowrap {
    flex-wrap: nowrap;
  }
  &-inline {
    display: inline-flex;
  }
}

.justify {
  &-center {
    justify-content: center;
  }
  &-between {
    justify-content: space-between;
  }
  &-end {
    justify-content: flex-end;
  }
}

.align {
  &-start {
    align-items: flex-start;
  }
  &-center {
    align-items: center;
  }
  &-end {
    align-items: flex-end;
  }
}

.slick {
  &-slide {
    outline: none;
  }
  &-arrow {
    fill: #818181;
    line-height: 0;
    padding: 0;
    &:hover {
      fill: #fff;
    }

    svg {
      width: 31px;
      height: 31px;
    }
  }
}

.w-100 {
  width: 100%;
}

.hidden {
  &-lg {
    @include lg-block {
      display: none;
    }
  }
  &-sm {
    @include sm-block {
      display: none;
    }
  }
  &-md {
    @include md-block {
      display: none;
    }
  }
}

.btn {
  outline: none;
  background: none;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: 0.35s;
  border-radius: 100px;
  &.disabled {
    filter: grayscale(100%);
    pointer-events: none;
  }
  &_purple {
    border-radius: 5px;
    background-color: $red;
    color: #fff;
    padding: 8px 25px;
    &:hover {
      background-color: #c01d47;
    }
  }
  &_trans {
    border: 2px solid $red;
    &:hover {
      color: #c01d47;
      border-color: #c01d47;
    }
  }
}

.checkbox {
  position: relative;
  &__input {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    & + label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      cursor: pointer;
      font-size: 14px;
      color: black;
      transition: .35s;
      &:before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #c9c8cd;
        border-radius: 0.15em;
        margin-right: 0.6em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        transition: .35s;
      }
      &:hover {
        color: $red;
        &:before {
          border-color: $red;
        }
      }
    }
    &:checked + label {
      &:before {
        border-color: $red;
        // background-color: $red;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23ec285b' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        background-position: center;
      }
    }
    &:disabled + label:before {
      background-color: #e9ecef;
    }
  }
}

input {
  border: none;
  background: none;
  outline: none;
  transition: 0.35s;
}

.input {
  border-radius: 5px;
  border: 1px solid #efefef;
  background-color: #ffffff;
  font-size: 14px;
  &-trans {
    background: none;
    border: 0;
    border-bottom: 1px solid #d5d5d5;
    border-radius: 0;
    padding: 8px 15px;
  }
  &::placeholder {
    color: rgba(#212121, 0.75);
  }
  &:focus {
    border-color: $red;
  }
  &__label {
    position: absolute;
    left: 15px;
    top: 18px;
    color: rgba(#000, .75);
    transition: .35s;
    pointer-events: none;
    white-space: nowrap;
    .input_required &:after {
      content: ' *';
      color: $red;
    }
    .active &, .input-trans:focus+& {
      font-size: 12px;
      color: #000;
      top: 0;
      left: 0;
      font-weight: 700;
    }
  }
  &__group {
    position: relative;
    padding-top: 10px;
  }
}

.select {
  position: relative;
  &__original {
    display: none;
  }
  &__value {
    padding: 5px 15px;
    padding-right: 45px;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 1px solid #c9c8cd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: .35s;
    &:hover {
      border-color: $red;
    }
    &_active {
      border-color: $red;
    }
    &:hover:after {
      border-color: $red;
    }
    &:after {
      position: absolute;
      content: '';
      top: 20%;
      right: 10px;
      width: 0;
      height: 0;
      width: 8px;
      height: 8px;
      border-left: 1px solid #a5a5a5;
      border-bottom: 1px solid #a5a5a5;
      transform: rotate(-45deg);
      transition: .35s;
    }
    &_active:after {
      transform: rotate(135deg);
      top: 40%;
      border-color: $red;;
    }
  }
  &__items {
    position: absolute;
    background-color: #fbfbfb;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border: 1px solid #e7e5e5;
    &_hide {
      display: none;
    }
  }

  &__item {
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    &_selected {
      pointer-events: none;
      filter: grayscale(100%);
    }
    & + & {
      border-top: 1px solid #e7e5e5;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.breadcrumbs {
  margin: 22px auto 0;
  font-size: 14px;
  &__item {
    position: relative;
    white-space: nowrap;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(black, .75);
    &:hover {
      color: $red;
    }
    & + & {
      &:before {
        content: '>';
        color: #818181;
        margin: 0 8px;
      }
    }
    &:last-child {
      color: black;
      pointer-events: none;
    }
  }
}

.bg-dark {
  background: $dark;
  color: #fff;
}

.main {
  padding: 50px 0 100px;
  @include sm-block {
    padding-top: 45px;
    padding-bottom: 75px;
    &.page {
      padding-top: 25px;
    }
  }
}

.page {
  &__caption {
    color: #8e8e8e;
    margin-top: 18px;
    line-height: 1.5;
    @include sm-block {
      margin-top: 12px;
      font-size: 14px;
    }
  }
}

.section {
  &__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.35;
    @include sm-block {
      font-size: 24px;
    }
  }
  & + & {
    padding-top: 70px;
    @include sm-block {
      padding-top: 45px;
    }
  }
}

.jumb {
  position: relative;
  background: #000000;
  color: #fff;
  .slick-slide {
    line-height: 0;
  }
  &__nav {
    @include md-block {
      display: none;
    }
    &-btn {
      position: absolute;
      z-index: 1;
      top: 50%;
      margin-top: -16px;
    }
    &-prev {
      left: 10%;
    }
    &-next {
      transform: rotate(180deg);
      right: 10%;
    }
  }
  &__btn {
    position: relative;
    // background-color: #0b0b0b;
    padding: 15px 80px;
    color: #fff;
    background: rgb(236,40,91);
    // background: linear-gradient(11deg, #da2354 0%, #1c2dc7 100%);
    background: linear-gradient(20deg, rgba(236,40,91,1) 0%, rgba(0,145,213,1) 100%);
    span {
      z-index: 1;
      position: relative;
    }
    &:before {
      content: '';
      position: absolute;
      left: 2px;
      right: 2px;
      top: 2px;
      bottom: 2px;
      background: #0b0b0b;
      border-radius: 50px;
      transition: .35s;
      opacity: 1;
    }
    &:hover:before {
      opacity: 0;
    }
  }

  &__info {
    line-height: normal;
  }

  &__title {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 10px;
    @include sm-block {
      font-size: 26px;
      margin-bottom: 20px;
    }
  }
  &__caption {
    font-size: 18px;
  }
  &__slide {
    padding-top: 65px;
    min-height: 600px;
    background-repeat: no-repeat;
  }
  &-one {
    background-image: url('../img/jumb-one.png');
    background-position: center;
    &__title {
      // margin-bottom: 10px;
    }
    &__btn {
      &-wrap {
        margin-top: 320px;
      }
    }
  }
  &-two {
    background-image: url('../img/jumb-two.jpg');
    background-position: 30% bottom;
    background-size: auto 90%;
    @include md-block {
      background-size: auto 75%;
      background-position: center bottom;
    }
    &__btn {
      margin-top: 25px;
    }
    &__info {
      position: absolute;
      transform: translateY(-50%);
      top: 40%;
      left: 60%;
      @include md-block {
        position: static;
        transform: none;
      }
    }
  }
  &-three {
    background-color: #111111;
    background-image: url('../img/jumb-three.jpg');
    background-position: 75% bottom;
    background-size: auto 90%;
    @include md-block {
      background-size: auto 65%;
      background-position: center bottom;
    }
    &__btn {
      margin-top: 25px;
    }
    &__info {
      display: inline-block;
      padding-top: 20px;
      padding-left: 100px;
      @include md-block {
        padding-left: 0;
        padding-top: 0;
      }
    }
  }
  &-four {
    background-image: url('../img/jumb-four.png');
    background-position: left bottom;
    background-size: 50%;
    @include lg-block {
    }
    &__btn {
      margin-top: 25px;
    }
    &__apple {
      &-icon {
        width: 70px;
        height: 70px;
        fill: #fff;
        margin-bottom: 13px;
      }
      &-title {
        font-size: 26px;
        font-weight: 700;
      }
    }
    &__services {
      margin-top: 20px;
    }
    &__service {
      font-size: 16px;
      font-weight: 700;
      padding: 12px 20px;
      @include sm-block {
        width: 50%;
        border: 1px solid #fff;
        font-size: 14px;
      }
      & + & {
        border-left: 3px solid #fff;
        @include sm-block {
          border: 1px solid #fff;
        }
      }
      &:hover {
        color: $red;
      }
    }
  }
}

.categories {
  @include lg-block {
    h2 {
      text-align: center;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
    margin-top: 60px;
    @include lg-block {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 30px;
    }
  }
  &__item {
    background-color: #fff;
    padding: 0 20px 20px;
    border-radius: 24px;
    @include lg-block {
      flex: 1;
      min-width: 32%;
      margin-top: 40px;
    }
    @include sm-block {
      width: 49%;
      margin-top: 20px;
    }
    &:hover {
      color: $red;
    }
    &-sub {
      margin-top: 10px;
      @include sm-block {
        justify-content: center;
      }
    }
    &-icon {
      margin-left: 13px;
      width: 30px;
      height: 30px;
      padding: 4px;
      border-radius: 50%;
      border: 1px solid #d1d1d1;
      fill: #d1d1d1;
      transform: rotate(180deg);
      transition: .35s;
      flex-shrink: 0;
      .categories__item:hover & {
        border-color: $red;
        fill: $red;
      }
    }
    &-title {
      font-size: 24px;
      font-weight: 700;
      @include sm-block {
        font-size: 18px;
      }
    }
    &-image {
      text-align: center;
      height: 200px; 
      @include sm-block {
        height: 120px;
      }
      img {
        transform: translateY(-12%);
        max-height: 221px;
        max-width: 200px;
        @include lg-block {
          max-width: 100%;
        }
        @include sm-block {
          max-height: 100%;
        }
      }
    }
  }
}

.cat-slider {
  &__head {
    margin-top: 20px;
    margin-bottom: 20px;
    @include sm-block {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .slick-slide {
    margin: 0 6px;
  }
  &__nav {
    @include sm-block {
      width: 100%;
      margin-top: 5px;
      justify-content: flex-end;
    }
    svg {
      width: 18px;
      height: 18px;
    }
    &-btn {
      &:hover {
        fill: $red;
      }
    }
    &-next {
      transform: rotate(180deg);
    }
  }
}

.product {
  position: relative;
  border-radius: 24px;
  background-color: #ffffff;
  padding: 17px 25px 14px;
  @include sm-block {
    padding: 14px 20px;
  }
  &_new {
    &:before {
      content: 'NEW';
      position: absolute;
      z-index: 1;
      left: 10px;
      top: 10px;
      font-weight: bold;
      line-height: 1;
      text-transform: uppercase;
      font-size: 10px;
      color: #fff;
      background: $red;
      padding: 5px 10px;
      border-radius: 10px;;
      
    }
  }
  &.hide {
    display: none;
  }
  &__image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    margin: 0 auto 15px;
    @include xs-block {
      height: 200px;
    }
    .cat-slider__item & {
      height: 175px;
    }
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
  &__price {
    display: flex;
    font-weight: 700;
    letter-spacing: 1px;
    .icon {
      width: 16px;
      height: 16px;
      margin-right: 10px;
    }
  }
  &__title {
    display: block;
    font-size: 24px;
    font-weight: 700;
    margin-top: 13px;
    @include sm-block {
      font-size: 16px;
      margin-top: 10px;
    }
    &:hover {
      color: $red;
    }
  }
  &__descr {
    color: #777777;
    font-size: 13px;
    line-height: 14px;
    margin-top: 10px;
    @include sm-block {
      font-size: 11px;
      line-height: 13px;
    }
  }
  &__options {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.35s;
    .product:hover & {
      opacity: 1;
    }
  }
  &__option {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    border-radius: 50%;
    fill: #1f1f1f;
    width: 44px;
    height: 44px;
    &:hover {
      fill: $red;
    }
    &.active {
      background: $red;
      fill: #fff;
    }
    & + & {
      margin-left: 10px;
    }
    svg {
      width: 22px;
      height: 22px;
    }
  }
}

.filters {
  @include sm-block {
    flex-wrap: wrap;
  }
  &__option {
    border-radius: 18px;
    background-color: #efefef;
    font-size: 14px;
    padding: 9px 18px;
    @include sm-block {
      padding: 5px 14px;
      margin: 5px 5px 5px 0;
    }
    & + & {
      margin-left: 12px;
      @include sm-block {
        margin-left: 0;
      }
    }
    &:hover {
      background-color: $red;
      color: #fff;
      
    }
    &.active {
      background-color: #000000;
      color: #fff;
    }
  }
}

.about {
  padding-bottom: 0;
  @include sm-block {
    padding-bottom: 0;
  }
  &-map {
    filter: grayscale(100%);
    line-height: 0;
    @include sm-block {
      iframe {
        height: 300px;
      }
    }
  }
  &__container {
    max-width: 1000px;
  }
  &__title {
    font-size: 48px;
    @include sm-block {
      font-size: 40px;
    }
  }
}

.about-features {
  margin-top: 35px;
  @include sm-block {
    display: block;
  }
  &__item {
    @include sm-block {
      text-align: center;
    }
    & + & {
      margin-top: 90px;
      @include sm-block {
        margin-top: 20px;
      }
    }
  }
  &__right {
    margin-top: 90px;
    @include sm-block {
      margin-top: 0;
    }
    flex: 1;
  }
  &__left {
    flex: 1;
  }
  &__image {
    margin: 0 60px;
    @include md-block {
      margin: 0 25px;
    }
    @include sm-block {
      display: block;
      margin: 20px auto;
      max-height: 200px;
    }
  }
  &__title {
    font-size: 28px;
    font-weight: 700;
    @include sm-block {
      font-size: 20px;
    }
  }
  &__caption {
    color: $red;
    margin-top: 7px;
    font-weight: 700;
    line-height: 1.5;
    @include sm-block {
      font-size: 14px;
    }
  }
}

.about-works {
  position: relative;
  max-width: 750px;
  margin: 80px auto 0;
  @include sm-block {
    margin-top: 55px;
  }
  &__nav {
    &-btn {
      position: absolute;
      z-index: 1;
      top: 50%;
      margin-top: -16px;
      &:hover {
        fill: $red;
      }
      svg {
        width: 54px;
        height: 54px;
        @include sm-block {
          width: 30px;
          height: 30px;
        }
      }
    }
    &-prev {
      left: -10%;
      @include sm-block {
        left: 0;
      }
    }
    &-next {
      transform: rotate(180deg);
      right: -10%;
      @include sm-block {
        right: 0;
      }
    }
  }
  &__slider {
    @include sm-block {
      padding: 0 30px;
    }
  }
  &__title {
    font-size: 28px;
    font-weight: 700;
  }
  &__diff {
    &-label {
      font-size: 28px;
      font-weight: 700;
      transform: translateY(50%);
      @include sm-block {
        font-size: 18px;
      }
    }
    &-row {
      margin-top: 32px;
    @include sm-block {
      margin-top: 20px;
    }
    }
    &-after {
      color: $red;
    }
    &-info {
      margin-top: 20px;
    }
    &-title {
      font-size: 18px;
      margin-bottom: 10px;
      font-weight: 700;
      @include sm-block {
        font-size: 16px;
      }
    }
    &-descr {
      color: black;
      line-height: 1.5;
      @include sm-block {
        font-size: 12px;
        text-align: justify;
      }
    }
  }
}

.about-contacts {
  margin-top: 60px;
  margin-bottom: 35px;
  @include sm-block {
    margin: 45px 0;
  }
  &__title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  &__col {
    @include size(4);
    @include size-sm(12);
    @include sm-block {
      & + & {
        margin-top: 35px;
      }
    }
  }
  &__icon {
    margin-bottom: 20px;
    svg {
      fill: #353535;
      width: 40px;
      height: 40px;
    }
  }
  &__info {
    font-size: 22px;
    color: #141414;
    @include md-block {
      font-size: 18px;
    }
    a {
      display: block;
      &:hover {
        color: $red;
      }
    }
  }
}

.application {
  &__row {
    margin-top: 45px;
    @include lg-block {
      display: block;
      margin-top: 25px;
    }
  }
  &__nav {
    background-color: #ffffff;
    padding: 20px 30px;
    width: 295px;
    margin-right: 65px;
    @include lg-block {
      // width: 100%;
      margin: 0 0 40px;
    }
    @include xs-block {
      margin-left: auto;
      margin-right: auto;
    }
    &-logo {
      width: 120px;
      margin: auto;
    }
    &-list {
      margin-top: 30px;
    }
    &-item {
      position: relative;
      color: rgba(black, .75);
      padding-left: 31px;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -12px;
        width: 21px;
        height: 21px;
      }
      & + & {
        margin-top: 17px;
      }
      &.pass {
        &:before {
          background: url('../img/icon-check.png') center no-repeat;
          background-size: 15px;
        }
      }
      
      &.active {
        font-size: 18px;
        font-weight: 700;
        color: black;
        &:before {
          background: url('../img/icon-apple.png') center no-repeat;
          background-size: contain;
        }
      }
    }
  }
  &__step {
    & + & {
      margin-top: 40px;
    }
    &-title {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 14px;
    }
  }
}

.step-one {
  &__list {
    margin: 0 -5px;
  }
  &__option {
    font-size: 22px;
    font-weight: 700;
    color: black;
    border-radius: 10px; 
    border: 1px solid transparent; 
    padding: 22px 40px;
    margin: 5px;
    cursor: pointer;
    transition: .35s;
    @include sm-block {
      font-size: 18px;
      padding: 12px 20px;
    }
    &:hover {
      color: $red;
    }
    &.active {
      border-color: $red;
    }
  }
}

.step-two {
  .select__value {
    font-size: 16px;
  }
  &__select {
    @include lg-block {
      margin-top: 15px;
    }
  }
}

.step-three {
  &__works {
    margin-top: 30px;
    @include md-block {
      margin-top: 20px;
      padding: 0 15px;
    }
  }
}

.work {
  color: black;
  @include md-block {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    transition: .35s;
  }
  & + & {
    margin-top: 18px;
  }
  &.active {
    font-weight: 700;
    @include md-block {
      border-color: $red;
      background: rgba($red, .05);
    }
  }
  &__name {
    @include size(4);
    @include size-md(12);
    @include md-block {
      margin-bottom: 10px;
      font-weight: bold;
    }
  }
  &__term {
    @include size(2);
    @include size-md(12);
    @include md-block {
      margin-bottom: 10px;
    }
  }
  &__price {
    @include size(2);
    @include size-md(12);
    @include md-block {
      margin-bottom: 10px;
      font-weight: bold;
    }
  }
  &__btn {
    padding: 14px;
    border-radius: 50px;
    width: 100%;
    border: 1px solid $red;
    @include sm-block {
      padding: 10px 15px;
    }
    &.active {
      background-color: #fff;
      color: #000;
      &:hover {
        background-color: darken(#fff, 7);
      }
    }
    &-wrap {
      @include size(4);
      @include size-md(12);
    }
  }
  &-summary {
    @include md-block {
      border-color: $red;
    }
    .work__name {
      font-size: 12px;
      @include size(6);
      @include size-md(12);
      @include md-block {
        font-size: 14px;
        margin-bottom: 20px;
        font-weight: 400;
      }
    }
  }
  &__total {
    @include md-block {
      font-size: 24px;
      line-height: 1.4;
    }
    &-caption {
      font-weight: bold;
    }
  }
}

.step-four {
  &__subtitle {
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
  }
  &__block {
    & + & {
      margin-top: 30px;
    }
  }
  &__input {
    font-size: 16px;
    width: 100%;
    @include xs-block {
      width: 100%;
    }
  }
  &__btn {
    border-radius: 22px;
    padding: 14px 55px;
    font-size: 20px;
    @include xs-block {
      width: 100%;
    }
  }
  &__checkbox {
    margin-bottom: 10px;
    &-wrap {
      margin-bottom: 20px;
      @include xs-block {
        width: 100%;
      }
    }
  }
  &__contacts {
    @include md-block {
      margin-top: -15px;
    }
  }
  &__group {
    @include md-block {
      margin-top: 15px;
    }
    @include xs-block {
      width: 100%;
    }
  }
}

.pagination {
  &__link {
    color: #b1b1b1;
    padding: 0 9px;
    &.disabled {
      opacity: .25;
      pointer-events: none;
    }
    svg {
      height: 12px;
      width: 12px;
      fill: #818181;
      transition: .35s;
    }
    &:hover {
      svg {
        fill: #000;
      }
    }
    &-next {
      svg {
        transform: rotate(180deg);
      }
    }
    &:hover {
      color: black;
    }
    &.active {
      pointer-events: none;
      color: $red;
      font-weight: 700;
    }
  }
}

.cat {
  &__pagination {
    margin-top: 25px;
  }
  &__sidebar {
    @include size(2);
    @include size-lg(4);
    @include size-xs(12);
    @include xs-block {
      margin-bottom: 30px; 
      display: none;
    }
    &-toggler {
      width: 100%;
      padding: 12px 15px;
      margin-bottom: 25px;
      font-weight: 700;
      &.active {
        background-color: $red;
        color: #fff;
     
      }
    }
  }
  &__body {
    @include size(10);
    @include size-lg(8);
    @include size-xs(12);
  }
  &__products {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @include lg-block {
      grid-template-columns: 1fr 1fr;
      gap: 15px;
    }
    @include xs-block {
      gap: 8px;
    }
  }
  &__more {
    margin-top: 30px;
    &-more {
      font-size: 14px;
    }
  }
  &__control {
    &>div {
      margin-top: 15px;
    }
  }
  &__finded {
    font-size: 14px;
    color: #000;
  }
  &__sort {
    @include sm-block {
      width: 100%;
    }
    &-select {
      max-width: 200px;
      width: 100%;
    }
    &-label {
      font-size: 14px;
      margin-right: 7px;
      color: #000000;
      white-space: nowrap;
    }
  }
}

.sidebar {
  &__block {
    &-title {
      font-size: 18px;
      font-weight: 700;
      color: black;
      margin-bottom: 20px;
    }
    & + & {
      margin-top: 30px;
    }
  }
  &__models {
    &-more {
      color: $red;
      margin-top: 12px;
      padding: 0;
      font-size: 14px;
      border-bottom: 1px solid transparent;
      border-radius: 0;
      &:hover {
        border-color: $red;
      }
      svg {
        transform: rotate(-90deg);
        margin-left: 8px;
        fill: $red;
        width: 11px;
        height: 11px;
        transition: .35s;
      }
      &.active {
        svg {
          transform: rotate(90deg);
        }
      }
    }
    &-item {
      &.hide {
        display: none;
      }
      & + & {
        margin-top: 7px;
      }
    }
  }
  &__banner {
    img {
      min-width: 100%;
      object-fit: cover;
      border-radius: 10px;
      @include md-block {
        min-width: auto;
      }
    }
  }
}

.price-range {
  &__inputs {
    margin-top: 15px;
    hr {
      width: 7px;
      margin: 0 8px;
    }
  }
  &__input {
    width: 100%;
    height: 28px;
    padding: 2px 5px;
  }
}

.colors {
  margin: 0 -5px;
  &__option {
    transition: .25s;
    border: 2px solid transparent;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 2px;
    margin: 0 5px 9px;
    &:hover {
      opacity: .7;
    }
    &.active {
      border-color: $red;
    }
  }
}

.checkout {
  &__info {
    margin-top: 30px;
  }
  &__block {
    & + & {
      margin-top: 40px;
    }
    &-title {
      color: #000;
      font-weight: 700;
    }
  }
  &__group {
    @include size(6);
    @include size-xs(12);
    margin-top: 20px;
    .select__value {
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 16px;
    }
    .input {
    }
    &-wrap {
      align-items: flex-end;
    }
  }
  &__left {
    @include size(6);
    @include size-md(12);
   
  }
  &__right {
    @include size(6);
    @include size-md(12);
    background-color: #fff;
    @include md-block {
      margin-top: 50px;
      position: relative;
    }
    &:before {
      content: '';
      position: absolute;
      background-color: #fff;
      pointer-events: none;
      width: 50%;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
      @include md-block {
        display: none;
      }
    }
  }
}

.basket {
  padding-left: 30px;
  @include md-block {
    padding: 30px;
  }
  @include xs-block {
    padding: 15px;
  }
  &__summary {
    font-size: 18px;
    padding: 20px 0;
    @include xs-block {
      padding: 15px 0;
    }
  }
  &__subsummary {
    padding: 25px 15px;
    margin: 0 -15px;
    border-bottom: 1px solid #efefef;
    @include xs-block {
      padding: 18px 15px;
    }
  }
  &__total {
    font-size: 24px;
    font-weight: 700;
    @include xs-block {
      font-size: 22px;
    }
  }
  &__price {
    font-size: 18px;
    font-weight: 700;
    color: black;
    white-space: nowrap;
    @include xs-block {
      font-size: 16px;
    }
  }
  &__row {
    & + & {
      margin-top: 15px;
    }
  }
  &__buttons {
    margin-top: 10px;
  }
  &__btn {
    padding: 14px 45px;
    border-radius: 50px;
    @include size-xs(12);
  }
  &__continue {
    color: $red;
    border-bottom: 1px solid transparent;
    @include size-xs(12);
    @include xs-block {
      margin-top: 15px;
      text-align: center;
    }
    &:hover {
      border-color: $red;
    }
  }
}

.basket-product {
  border-bottom: 1px solid #efefef;
  padding: 20px 0;
  &.header__basket-product {
    padding: 14px 0;
  }
  // margin: 0;
  &__image {
    margin-right: 17px;
    flex-shrink: 0;
    img {
      width: 33px;
    }
  }
  &__title {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    display: block;
    @include xs-block {
      font-size: 16px;
    }
    &.header__basket-title {
      font-size: 16px;
    }
    &:hover {
      color: $red;
    }
  }
  &__count {
    font-size: 12px;
    font-weight: 400;
    color: #747474;
    white-space: nowrap;
  }
  &__options {
    margin: 0 -8px;
    margin-top: 7px;
    @include xs-block {
      margin-top: 0;
    }
    &.header__basket-options {
      font-size: 12px;
      margin-top: 0;
      &>div {
        margin-top: 4px;
      }
    }
  }
  &__option {
    padding: 0 8px;
    color: rgba(#000, 0.75);
    @include xs-block {
      font-size: 12px;
      margin-top: 4px;
    }
    &_color {
      span {
        display: inline-block;
        border-radius: 3px;
        width: 15px;
        height: 15px;
        margin-right: 6px;
      }
    }
  }
  &__price {
    font-size: 18px;
    font-weight: 700;
    color: black;
    margin-top: 7px;
    white-space: nowrap;
    &.header__basket-price {
      font-size: 14px;
    }
  }
  &__close {
    padding: 0px;
    svg {
      width: 11px;
      height: 11px;
      fill: black;
      transition: .35s;
    }
    &:hover svg{
      fill: $red;
    }
  }
} 

.pdp {
  &__info {
    @include size(7);
    @include size-sm(12);
  }
  &__gallery {
    @include size(5);
    @include size-sm(12);
  }
  &__title {
    font-size: 60px;
  }
  &__meta {
    &-stock {
      color: #0daa48;
      font-weight: 700;
    }
    &-code {
      font-size: 14px;
      color: rgba(#000,.75);
      margin-top: 10px;
    }
  }
  &__options {
    margin-top: 35px;
    margin-bottom: 25px;
    &-block {
      & + & {
        margin-top: 30px;
      }
    }
    &-title {
      font-size: 18px;
      color: black;
      margin-bottom: 7px;
      font-weight: 700;
    }
  }
  &__option {
    border-radius: 10px;
    border: 1px solid #eee;
    padding: 15px 25px;
    transition: .35s;
    margin-top: 10px;
    cursor: pointer;
    @include size-sm(6);
    @include md-block {
      padding: 12px 20px;
      font-size: 14px;
    }
    &:hover {
      border-color: #bc8995;
      color: $red;
    }
    &_color {
      display: flex;
      align-items: center;
    }
    &-color {
      display: inline-block;
      margin-right: 12px;
      border-radius: 10px;
      width: 45px;
      height: 45px;
      flex-shrink: 0;
      @include md-block {
        width: 25px;
        height: 25px;
        margin-right: 8px;
      }
    }
    &.disabled {
      opacity: .25;
      pointer-events: none;
    }
    &.active {
      border-color: $red;
    }
    &-memory {
      font-size: 22px;
      font-weight: 700;
      white-space: nowrap;
      @include md-block {
        font-size: 18px;
      }
    }
    &-price {
      // font-size: 22px;
      white-space: nowrap;
      margin-top: 5px;
    }
  }
  &__notes {
    padding: 12px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: 25px;
  }
  &__note {
    font-weight: 700;
    padding: 0 15px;
    & + & {
      margin-top: 20px;
    }
    svg {
      width: 28px;
      height: 28px;
      margin-right: 15px;
    }
  }
  &__buttons {
    @include md-block {
      display: block;
    }
  }
  &__btn {
    padding: 14px 42px;
    border-radius: 50px;;
    @include md-block {
      width: 100%;
    }
    & + & {
      margin-left: 15px;
    @include md-block {
      margin-left: 0;
      margin-top: 15px;
    }
    }
  }
  &__about {
    margin-top: 40px;
    &-nav {
      margin-bottom: 25px;
    }
    &-tab {
      font-size: 24px;
      padding: 10px 0;
      border-bottom: 4px solid transparent;
      transition: .35s;
      cursor: pointer;
      @include md-block {
        font-size: 20px;
        border-width: 2px;
      }
      @include xs-block {
        font-size: 18px;
      }
      &-inner {
        display: none;
      }
      &:hover {
        color: $red;
      }
      &.active {
        border-color: $red;
        pointer-events: none;
      }
    }
    &-inner {
      font-size: 18px;
      line-height: 1.5;
      max-width: 830px;
      margin: auto;
      text-align: justify;
      @include sm-block {
        font-size: 14px;
      }
    }
  }
}

.pdp-chars {
  line-height: 1.4;
  &__row {
    padding: 18px 0;
    border-bottom: 1px solid #efefef;
  }
  &__key {
    @include sm-block {
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 14px;
    }
  }
  &__value {
    text-align: right;
    @include sm-block {
      font-size: 12px;
    }
  }
}

.pdp-gallery {
  @include sm-block {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  &__for {
    margin-bottom: 30px;
    &-slide {
      height: 580px;
      display: flex!important;
      align-items: center;
      justify-content: center;
      line-height: 0;
      @include md-block {
        height: 450px;
      }
      @include sm-block {
        height: 250px;
      }
      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
  &__nav {
    &-wrap {
      position: relative;
    }
    .slick-slide {
        margin: 0 7px;
    }
    &-slide {
      height: 98px;
      padding: 7px;
      line-height: 0;
      border-radius: 10px;
      border: 1px solid #efefef;
      text-align: center;
      cursor: pointer;
      transition: .25s;
      &:hover {
        opacity: .6;
      }
      img {
        max-height: 100%;
        max-width: 100%;
        margin: auto;
      }
    }
  }
  &__control {
    &-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      &:hover svg {
        fill: $red;
      }
    }
    &-next {
      right: -30px;
      transform: rotate(180deg) translateY(50%);
      @include sm-block {
        right: -15px;
      }
    }
    &-prev {
      left: -30px;
      @include sm-block {
        left: -15px;
      }
    }
  }
}
